#banner {
  .bannerBg {
    padding-top: 110px;
    background-color: #5f76f3;
    height: 550px;
    display: flex;
    justify-content: center;

    h2 {
      font-size: 2.38rem;
      color: #fff;
    }
  }
}
