$banner-height: 440px;

#banner {
  .bannerBg {
    padding-top: 110px;
    background-image: $main-color-gradient;
    background-size: cover;
    height: $banner-height;

    .stack-choice-area {
      width: 50%;
      height: $banner-height - 40;
      background-color: #fff;
      -webkit-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
      border-radius: 10px;
      padding: 30px;
    }

    .banner-title {
      padding-left: 50px;
      color: rgba(#fff, 0.8);

      h2 {
        padding-top: 60px;
        color: #fff;
        font-size: 2.3rem;
        line-height: 1.3;
      }

      p {
        font-size: 1.025rem;
        padding-bottom: 10px;
      }
    }
  }
}

// banner media
@media (max-width: 1023px) {
  $banner-height: 350px;

  #banner {
    .bannerBg {
      padding-top: 80px;

      .container {
        flex-direction: column-reverse;
      }

      .banner-title {
        padding-left: 0;
      }

      .stack-choice-area {
        width: 100%;
        height: $banner-height - 100;
        background-color: #fff;
        -webkit-box-shadow: $box-shadow;
        box-shadow: $box-shadow;
        border-radius: 3px;
        padding: 30px;
      }
    }
  }
}
