#banner {
  .bannerBg {
    padding-top: 110px;
    background-image: $main-color-gradient;
    background-size: cover;
    height: 440px;

    .stack-choice-area {
      width: 670px;
      height: 400px;
      background-color: #fff;
      -webkit-box-shadow: $box-shadow;
      box-shadow: $box-shadow;
      border-radius: 3px;
      padding: 30px;
    }

    .banner-title {
      padding-left: 50px;
      color: rgba(#fff, .8);

      h2 {
        color: #fff;
        font-size: 2rem;
      }
    }

    
  }
}
