footer {
  padding: 30px 0;
  border-top: 1px solid #e8e8e8;
  background-color: #f9f9f9;
  color: #999;

  ul.personal-information-area {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      a {
        margin-right: 20px;
        color: #999;
        transition: color 0.2s;

        &:hover {
          color: $main-color-blue;
        }
      }
    }
  }

  p.footer-description {
    margin-top: 20px;
    font-size: 0.75rem;

    span.dd {
      &:before {
        content: '|';
        display: inline;
        padding: 0 5px;
        color: #999;
      }
    }
  }
}
