header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  display: flex !important;
  align-items: center;
  color: #fff;
  z-index: 99999;

  // 스크롤 했을때 헤더 스타일
  &.scrolled {
    background-color: #fff;
    box-shadow: $box-shadow;
    color: $text-color;

    a.logo {
      color: $main-color-blue;

      .point {
        color: $main-color-blue;
      }
    }

    .navigation ul a {
      color: $text-color;
    }
  }

  a.logo {
    font-family: Spoqa Han Sans Bold;
    color: #fff;
    font-size: 0.88rem;

    .point {
      color: #fff;
      font-size: 1.5rem;
    }
  }

  .navigation {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      margin: 0;

      a {
        display: inline-block;
        padding: 0 10px;
        color: #fff;
      }
    }
  }
}
