// 카드 스타일
.team-card {
  border-radius: 10px !important;
  overflow: hidden;

  &:hover {
    .progress-wrap .progress-outer .progress-text {
      height: 21px;
    }
  }
}

.no-padding-card {
  .ant-card-body {
    padding: 0 !important;
  }
}

// 카드 이미지 스타일
.card-image-content {
  // 프로그레스바
  .progress-wrap {
    bottom: 0;

    .progress-text {
      height: 0;

      &-open {
        height: 21px;
      }
    }
  }
}

// 팀 정보
.team-card-meta {
  padding: 8px 15px 15px;
  cursor: auto;

  .content-header {
    height: 10.4rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #efefef;
  }

  .leader-name {
    color: #adb5bd;
    margin-bottom: 5px;
    font-size: 0.9rem;

    &:hover {
      color: #adb5bd;
      text-decoration: underline;
    }
  }

  // 팀 타이틀
  h3 {
    font-size: 1.2rem;
    //margin-bottom: 8px;
    line-height: 24px;
    letter-spacing: -0.2px;
    //height: 50px;
    max-height: 50px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    overflow: hidden;
  }

  .end-date {
    color: #adb5bd;
    margin-bottom: 0;
    font-size: 0.825rem;
  }

  // 팀 설명
  .description {
    font-size: 0.825rem;
    line-height: 20px;
    letter-spacing: -0.2px;
    height: 40px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    color: #4c657d;
    margin: 0px 0px 0px;
    overflow: hidden;
  }

  // 좋아요, 댓글, 조회수
  .card-counts {
    color: #adb5bd;

    span {
      font-size: 0.825rem;
    }
  }

  // 좋아요, 공유 아이콘
  .card-icon {
    font-size: 1.125rem;
    transition: color 0.2s;

    &-heart {
      &:hover {
        color: #ff8787;
      }
    }

    &-share {
      &:hover {
        color: $main-color-blue;
      }
    }
  }
}
