// 카드 스타일
.team-card {
  &:hover {
    .progress-wrap .progress-outer .progress-text {
      height: 21px;
    }
  }
}

.no-padding-card {
  .ant-card-body {
    padding: 0 !important;
  }
}

// 카드 이미지 스타일
.card-image-wrap {
  position: relative;
  padding-top: 67.125%;
  overflow: hidden;

  img {
    transform: scale(1);
    transition: transform 0.3s ease 0s, opacity 0.1s linear 0s;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 1;

    &:hover {
      transform: scale(1.1);
    }
  }

  // 프로그레스바
  .progress-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;

    .progress-outer {
      position: relative;
      background: rgba(#656565, 0.85);
      padding: 3px 7px;

      .progress-text {
        position: relative;
        z-index: 10;
        transition: height 0.2s;
        height: 0;
        overflow: hidden;

        p {
          margin: 0;
          color: #fff;
          text-shadow: 1px 2px 3px rgba(#000, 0.3);
        }
      }
    }
  }
}

// 팀 정보
.team-card-meta {
  padding: 8px 15px 15px;

  .content-header {
    height: 10.4rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #efefef;
  }

  .leader-name {
    color: #adb5bd;
    margin-bottom: 5px;
    font-size: 0.9rem;

    &:hover {
      color: #adb5bd;
      text-decoration: underline;
    }
  }

  // 팀 타이틀
  h3 {
    font-size: 1.2rem;
    //margin-bottom: 8px;
    line-height: 24px;
    letter-spacing: -0.2px;
    //height: 50px;
    max-height: 50px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    overflow: hidden;
  }

  .end-date {
    color: #adb5bd;
    margin-bottom: 0;
  }

  // 팀 설명
  .description {
    font-size: 0.825rem;
    line-height: 20px;
    letter-spacing: -0.2px;
    height: 40px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    color: #4c657d;
    margin: 0px 0px 0px;
    overflow: hidden;
  }

  // 좋아요, 댓글, 조회수
  .card-counts {
    color: #adb5bd;
    font-size: 13px;
  }

  // 좋아요, 공유 아이콘
  .card-icon {
    font-size: 1.125rem;
    transition: color 0.2s;

    &-heart {
      &:hover {
        color: #ff8787;
      }
    }

    &-share {
      &:hover {
        color: $main-color-blue;
      }
    }
  }
}
