// tabs
.ant-tabs-nav .ant-tabs-tab-active {
  color: $main-color-blue !important;
}

.ant-tabs-nav .ant-tabs-tab {
  //padding: 10px 16px !important;
  margin: 0 16px 0 0 !important;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: $main-color-blue !important;
}

.ant-tabs-ink-bar {
  background-color: $main-color-blue !important;
}

.ant-tabs-nav-wrap {
  span {
    font-size: 0.9rem;
  }
}

.ant-message {
  span {
    font-size: 0.825rem;
  }
}
