// 폰트 설정
@font-face {
  font-family: Spoqa Han Sans;
  src: url('./fonts/Spoqa Han Sans Regular.woff') format('woff');
}

@font-face {
  font-family: Spoqa Han Sans Thin;
  src: url('./fonts/Spoqa Han Sans Thin.woff') format('woff');
}

@font-face {
  font-family: Spoqa Han Sans Light;
  src: url('./fonts/Spoqa Han Sans Light.woff') format('woff');
}

@font-face {
  font-family: Spoqa Han Sans Bold;
  src: url('./fonts/Spoqa Han Sans Bold.woff') format('woff');
}

// 스타일 변수 설정
$text-color: #272e40;
$main-color-blue: #5f76f3;
$main-color-violet: #845ef7;
$main-color-gradient: linear-gradient(
  133deg,
  $main-color-blue,
  $main-color-violet
);

$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);

* {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  position: relative;
  font-size: 16px;
}

button {
  border: 0;
  outline: none;
}

// display class
.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

// flex class
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

// container
.container {
  max-width: 1250px;
  width: 95%;
  margin: 0 auto;
}

// text
.text-bold {
  font-family: Spoqa Han Sans Bold;
}

.text-thin {
  font-family: Spoqa Han Sans Thin;
}

.text-light {
  font-family: Spoqa Han Sans Light;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// section
#content {
  padding: 120px 0 100px;
  background-color: #f9f9f9;

  .content-title-aria {
    h2 {
      color: $text-color;
      font-size: 1.5rem;
      margin-bottom: 0px;
    }

    p {
      font-size: 1rem;
      color: #adb5bd;
    }

    .bar {
      width: 60px;
      height: 0;
      border: 1px solid $main-color-blue;
      border-radius: 5px;
      margin-bottom: 40px;
    }
  }

  .category-navigation {
    display: flex;
    padding: 5px 0 20px;

    li {
      margin-right: 25px;
      font-size: 1rem;
      color: #adb5bd;
      padding-bottom: 10px;
      transition: color 0.2s;
      cursor: pointer;

      &:hover {
        color: rgba($text-color, 0.7);
      }

      &:first-child {
        color: $text-color;
        border-bottom: 3px solid $main-color-blue;
      }
    }
  }
}

@import './components/_SkeletonCard.scss';
@import './components/TeamCard';
@import './components/_Header.scss';
@import './components/_Banner.scss';
