@import './reset.scss';

// section
.home-wrap {
  .home-list-wrap {
    padding: 70px 0 0;
    background-color: #f9f9f9;

    .list-section {
      border-bottom: 1px solid #efefef;
      padding: 70px 0 20px;

      .content-title-aria {
        .section-title {
          padding-bottom: 5px;

          h2 {
            color: $text-color;
            font-size: 2rem;
            margin-bottom: 0;
          }

          p {
            font-size: 1rem;
            color: #adb5bd;
          }
        }
      }

      .more-loading-team {
        padding: 40px 0;
        color: $main-color-blue;

        button {
          background: none;
          font-size: 1rem;
        }

        .loading-icon {
          font-size: 2rem;
        }
      }
    }
  }
}

// all
@import './media.scss';
@import './antd-custom.scss';

// components
@import './components/_Header.scss';
@import './components/Footer.scss';
@import './components/_SkeletonCard.scss';
@import './components/TeamCard';
@import './components/_Banner.scss';
@import './components/Modal';
@import './components/Login';
@import './components/Register';
@import './components/Chip.scss';
@import './media.scss';
@import './components/CardImage.scss';
@import './components/Progress.scss';
@import './components/_Comment.scss';

// pages
@import './pages/Team.scss';
