@import './fonts/fonts.css';

// 컬러 변수
$text-color: #272e40;
$main-color-blue: #5f76f3;
$main-color-violet: #845ef7;
$main-color-gradient: linear-gradient(
  133deg,
  $main-color-blue,
  $main-color-violet
);

// 그림자 변수
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);

$font: Noto Sans;

* {
  margin: 0;
  padding: 0;
  font-family: $font, 'Sans-serif';
  box-sizing: border-box;
  font-size: 1rem;
}

:root {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
}

body {
  position: relative;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

// container
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

// 커스텀 클래스
.main-color-blue {
  color: $main-color-blue;
}

.main-color-violet {
  color: $main-color-violet;
}

// display 클래스
.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

// flex 클래스
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

// text
.text-bold {
  font-family: $font Bold;
}

.text-thin {
  font-family: $font Thin;
}

.text-light {
  font-family: $font Light;
}

.text-medium {
  font-family: $font Medium;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// margin, padding
.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.m-5 {
  margin: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-30 {
  margin: 30px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-7 {
  margin-top: 7px !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-9 {
  margin-top: 9px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-14 {
  margin-top: 14px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-25 {
  margin-top: 25px !important;
}
.mt-35 {
  margin-top: 35px !important;
}
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.no-padding {
  padding: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.p-5 {
  padding: 5px !important;
}
.p-8 {
  padding: 8px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.pt-1 {
  padding-top: 1px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-7 {
  padding-top: 7px !important;
}
.pt-8 {
  padding-top: 8px !important;
}
.pt-9 {
  padding-top: 9px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-13 {
  padding-top: 13px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-15 {
  padding-bottom: 15px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.pl-35 {
  padding-left: 35px !important;
}
.pr-3 {
  padding-right: 3px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pr-35 {
  padding-right: 35px !important;
}
