@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@font-face {
  font-family: Spoqa Han Sans;
  src: url('./Spoqa Han Sans Regular.woff') format('woff');
}

@font-face {
  font-family: Spoqa Han Sans Thin;
  src: url('./Spoqa Han Sans Thin.woff') format('woff');
}

@font-face {
  font-family: Spoqa Han Sans Light;
  src: url('./Spoqa Han Sans Light.woff') format('woff');
}

@font-face {
  font-family: Spoqa Han Sans Bold;
  src: url('./Spoqa Han Sans Bold.woff') format('woff');
}

@font-face {
  font-family: Noto Sans;
  src: url('./NotoSansKR-Regular-Hestia.woff') format('woff');
}

@font-face {
  font-family: Noto Sans Thin;
  src: url('./NotoSansKR-Thin-Hestia.woff') format('woff');
}

@font-face {
  font-family: Noto Sans Light;
  src: url('./NotoSansKR-Light-Hestia.woff') format('woff');
}

@font-face {
  font-family: Noto Sans Medium;
  src: url('./NotoSansKR-Medium-Hestia.woff') format('woff');
}

@font-face {
  font-family: Noto Sans Bold;
  src: url('./NotoSansKR-Bold-Hestia.woff') format('woff');
}
